@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/responsive" as *;
/*
  * FONT
  * 1. Alexandria : var(--font-alexandria)
  * 2. Anek Latin : var(--font-anek-latin)
  * 3. Noto Sans CJK KR : var(--font-noto-sans)
  */
/* -------------------------------------------------- CLASS -------------------------------------------------- */
.web {
  display: block !important;

  @include media(mobile) {
    display: none !important;
  }
}

.mob {
  display: none !important;

  @include media(mobile) {
    display: block !important;
  }
}

/* CLASS */
.inner {
  padding-left: 17.6rem;
  padding-right: 17.6rem;
}

.container {
  position: relative;
  padding-top: 32rem;

  .contents {
    position: relative;
    padding-bottom: 19.2rem;
  }
}

/* -------------------------------------------------- STYLES -------------------------------------------------- */
/* visual */
.visual {
  &__title {
    padding: 0 17.6rem;
    line-height: 8rem;
    color: $color17;
    font-size: 6.4rem;
    font-weight: 500;
    font-family: var(--font-anek-latin);
  }

  &__image {
    position: relative;
    margin-top: 3.2rem;
    height: 51.2rem;
  }
}

/* culture */
.culture {
  margin-top: 4.8rem;

  &__summary {
    .large {
      line-height: 8rem;
      color: $colorD0;
      font-size: 6.4rem;
      font-family: var(--font-alexandria);
      text-transform: uppercase;
      letter-spacing: -0.04em;

      span {
        color: $color17;
      }
    }

    .small {
      margin-top: 4.8rem;
      line-height: 4.8rem;
      font-size: 2.8rem;
      font-weight: 300;
      letter-spacing: -0.02em;
    }
  }

  &__together {
    margin-top: 18.4rem;

    & > div {
      display: flex;
      justify-content: space-between;
      margin-top: 6.4rem;

      p {
        width: 50%;
        line-height: 4.8rem;
        letter-spacing: -0.02em;

        &.together {
          font-size: 4rem;
          font-family: var(--font-anek-latin);
          font-weight: 600;
        }

        &.text {
          font-size: 3.2rem;
          font-weight: 500;
        }

        span {
          display: block;
          margin-top: 1.6rem;
          line-height: 3.2rem;
          font-size: 2rem;
          font-weight: 300;
        }
      }
    }
  }
}

/* benefit */
.benefit {
  margin-top: 18.4rem;
  padding: 10.4rem 0 17.6rem;
  background-color: $colorF5;

  .inner {
    display: flex;

    & > div {
      width: 50%;
    }
  }

  &__title {
    line-height: 8rem;
    font-size: 6.4rem;
    font-family: var(--font-alexandria);
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  &__text {
    line-height: 4.8rem;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  &__list {
    margin-top: 2.8rem;
    padding: 0 3.2rem 2.8rem;
    background-color: $colorFF;

    li {
      position: relative;
      padding: 1.6rem 0;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0.1rem;
        background-color: $color17;
        transition: width 0.8s;
      }

      .title {
        position: relative;
        padding-left: 4rem;
        width: 100%;
        line-height: 4.8rem;
        font-size: 3.2rem;
        font-family: var(--font-alexandria);
        text-align: left;
        background-color: transparent;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 3.2rem;
          height: 3.2rem;
          line-height: 3.2rem;
          color: $colorFF;
          font-size: 2rem;
          text-align: center;
          background-color: $color17;
          border-radius: 50%;
          transform: translateY(-50%);
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          background-color: $color17;
          transform: translateY(-50%);
          transition: transform 0.6s;
        }

        &::before {
          right: 0;
          width: 2.4rem;
          height: 0.2rem;
        }

        &::after {
          right: 1rem;
          width: 0.2rem;
          height: 2.4rem;
        }
      }

      .content {
        overflow: hidden;
        padding-left: 4rem;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.6s, opacity 0.6s;

        p {
          margin: 0.8rem 0;
          line-height: 3.2rem;
          font-size: 2rem;
          font-weight: 300;
          letter-spacing: -0.02em;

          &:first-child {
            margin: 0 0 2rem;
            line-height: 4.8rem;
            font-size: 2.8rem;
            font-weight: 400;
            letter-spacing: -0.04em;
          }

          span {
            font-weight: 500;
          }
        }
      }

      &.is_opened {
        &::after {
          width: 100%;
        }

        .title {
          &::after {
            transform: translateY(-50%) rotate(90deg);
          }
        }

        .content {
          max-height: 30.8rem;
          opacity: 1;
        }
      }
    }
  }
}

/* ourlife */
.ourlife {
  margin-top: 9.6rem;
}
