/* -------------------------------------------------- VARIABLES -------------------------------------------------- */
/* line height */
$lineHeight16: 1.6rem;
$lineHeight20: 2rem;
$lineHeight24: 2.4rem;
$lineHeight28: 2.8rem;
$lineHeight32: 3.2rem;
$lineHeight36: 3.6rem;
$lineHeight40: 4rem;
$lineHeight48: 4.8rem;
$lineHeight52: 5.2rem;
$lineHeight56: 5.6rem;
$lineHeight64: 6.4rem;
$lineHeight80: 8rem;
$lineHeight96: 9.6rem;
$lineHeight160: 16rem;

/* color */
$color00: #000000;
$color17: #171717;
$color46: #464646;
$color75: #757575;
$color90: #909090;
$colorBC: #bcbcbc;
$colorD0: #d0d0d0;
$colorE3: #e3e3e3;
$colorE8: #e8e8e8;
$colorF3: #f3f3f3;
$colorF5: #f5f5f5;
$colorF9: #f9f9f9;
$colorFF: #ffffff;

/* fontsize */
$fontSize8: 0.8rem;
$fontSize10: 1rem;
$fontSize12: 1.2rem;
$fontSize14: 1.4rem;
$fontSize16: 1.6rem;
$fontSize18: 1.8rem;
$fontSize20: 2rem;
$fontSize24: 2.4rem;
$fontSize28: 2.8rem;
$fontSize32: 3.2rem;
$fontSize40: 4rem;
$fontSize48: 4.8rem;
$fontSize52: 5.2rem;
$fontSize64: 6.4rem;
$fontSize128: 12.8rem;

/* gradation */
$gradient1: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
$gradient2: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
$gradient3: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
