/* -------------------------------------------------- MOVE UP -------------------------------------------------- */
.move_up {
  opacity: 0;
  transform: translateY(8rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-in-out;
}

.move_up.is_up,
:global(.is_up) {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 1.2s;
}
